:root {
  --black: black;
  --white: rgb(244, 240, 234);
  --primary-color: rgb(166, 197, 210);
  --main-color: black;
  --secondary-color: rgb(228, 156, 214);
}

body {
  background: #c2aec5;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  background: rgb(166, 197, 210);
  color: black;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  outline: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.mute {
  background: var(--secondary-color);
}

.mute:hover {
  background: var(--white);
}

.unmute {
  background: rgb(228, 156, 214);
  color: black
}

.unmute:hover {
  background: rgb(227, 128, 207);
}

.solo {
  background: rgb(101, 119, 189);
}

.solo:hover {
  background: var(--white);
}

.unsolo {
  background: rgb(249, 230, 128);
  color: black;
}

.unsolo:hover {
  background: var(--white);
}

button:hover {
  background: var(--white);
}

.playlist {
  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.playlist-item {
  color: #444;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 1em;
}

.playlist-item.selected {
  font-weight: bold;
}

.playlist-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.controls {
  text-align: left;
  padding: 1em;
}
