@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
  --black: #1a1a1a;
  --white: rgb(244, 240, 234);
  --primary-color: rgb(245, 103, 93);
  --secondary-color: #ffff5e;
  --tertiary-color: rgb(80, 32, 28);
  --quad-color: rgb(57, 255, 186);
}

body {

  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");

  background: var(--black);

  color: white;
}

.App {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.mute {
  background: rgb(245, 103, 93);
}

.mute:hover {
  background: var(--white);
}

.unmute {
  background: white;
  color: black;
}

.unmute:hover {
  background: white;
}

.solo {
  background: rgb(245, 103, 93);
}

.solo:hover {
  background: var(--white);
}

.unsolo {
  background: white;
  color: black;
}

.unsolo:hover {
  background: var(--white);
}

.playlist {
  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.playlist-item {
  color: #444;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 1em;
}

.playlist-item.selected {
  font-weight: bold;
}

.playlist-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.controls {
  text-align: left;
  padding: 1em;
}

hr {
  color: var(--white);
  opacity: 10%;
  width: 90%;
}

#transport {
  /* display: flex; */
  /* z-index: 10;
  position: fixed;
  right: 20px;
  top: 80px;
  color: black; */
}

Waveform {
  z-index: 1;
}

ul {
  list-style: none;
}

a {
  color: white;
}
a:visited {
  color: white;
}

header {
  font-size: 2em;
}

.main-window {
  padding-bottom: 10vh;
}